{% extends "base.html" %}
{% load static %}

{% block title %}Locations{% endblock title %}

<!-- Code to list all the locations added by all users-->

{% block content %}
<div class="container my-5">
    <h1>Recent Spots</h1>
    <div class="row"> 
        {% for location in locations %}
            <div class="col-md-3 mb-4"> 
                <div class="card h-100"> 
                    <a href="{{ location.get_absolute_url }}" aria-label="Click to view {{ location.title }}">
                        <img src="{{ location.image.url }}" alt="{{ location.image_alt }}" class="card-img-top img-fluid"></a>
                        <div class="card-body"> 
                        <p class="card-title">{{ location.title }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> 
</div>
{% endblock %}
