{% extends "base.html" %}
{% load static %}

{% block title %}Locations{% endblock title %}
<!-- Code to list all the locations added by all users-->

{% block content %}

<div class="container my-5">
    <h1>Recent Spots</h1>

    {% for location in locations %}
    <h3>{{location.title}}</h3>
        <a href="{{ location.get_absolute_url }}"  aria-label="Click to view {{ location.title }}">
        <img src="{{ location.image.url }}" alt="{{ location.image_alt }}" style="max-width: 75%; height: auto;">
        </a>
        <br>
        <p>{{location.description|truncatechars:130}}</p>
    

    {% endfor %}

</div>
{% endblock %}