{% extends "base.html" %}
{% load static %}

{% block title %}Location Detail {{ object.title }}{% endblock title %}

{% block content %}


{% extends "base.html" %}

{% block title %}Recipe Detail - {{recipe.title}}{% endblock %}

{% block content %}
<div class="container">
    <!-- <div class="recipe-info mt-3 p-1"> -->
        <div class="location-img">
            <img src="{{ location.image.url }}" alt="{{ location.image_alt }}" class="location-pic">
        </div>
        <div class="location-detail">
            <h1 class="text-center">{{ location.title }}</h1>
            <p class="text-center">Posted by {{location.user}} on {{location.posted_date}}</p>
            <hr>
            <p>{{location.description}}</p>

            {% if request.user == location.user %}
            <div class="text-center">
                <a href="{% url 'edit_location' location.id %}" class="selected">Edit</a>
                <a href="{% url 'delete_location' location.id %}" class="selected">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock content %}