{% extends "base.html" %}
{% load static %}

{% block title %}Location Detail {{ object.title }}{% endblock title %}

{% block content %}


            {% if request.user == location.user %}
            <div class="text-center">
                <a href="{% url 'edit_location' location.id %}" class="selected">Edit</a>
                <a href="{% url 'delete_location' location.id %}" class="selected">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock content %}