{% extends "base.html" %}
{% load static %}

{% block title %}Location Detail {{ object.title }}{% endblock title %}

{% block content %}

        <div>
            <img src="{{ location.image.url }}" alt="{{ location.image_alt }}" class="location-pic">
        </div>
        <div>
            <h1>{{ location.title }}</h1>
            <p>Posted by {{location.user}} on {{location.posted_date}}</p>
            
            <p>{{location.description}}</p>
            

    <!-- Code For Like Button taken from I think therefore I blog walkthrough -->

<div>
    <strong>
        {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'like_location' location.slug %}" method="POST">
            {% csrf_token %}
            {% if request.user in location.like_set.all %}
            <button type="submit" name="location_id" value="{{ location.slug }}" class="btn-like"><i
                    class="fa-duotone fa-heart"></i></button>
            {% else %}
            <button type="submit" name="location_id" value="{{ location.slug }}" class="btn-like"><i
                    class="fa-regular fa-heart"></i></button>
            {% endif %}
        </form>
        {% else %}
        <span class="text-secondary"><i class="far fa-heart"></i></span>
        {% endif %}
        <span class="text-secondary">{{ location.like_set.count }} </span>
    </strong>
</div>
    <br>

<!-- Code for edit and delete image button -->
            
{% if request.user == location.user %}
    <div class="button2">
    <a href="{% url 'edit_location' slug=location.slug %}" class="button2">Edit</a>
    </div>
    <div class="button2">
    <a href="{% url 'delete_location' slug=location.slug %}" class="button2">Delete</a>
    </div>
{% endif %}
    
{% endblock content %}