{% extends "base.html" %}
{% load static %}

<!-- Dashboard area - users taken here after log in-->
{% block content %}
<div class="container my-5">
    <h1>Welcome to your dashboard {{request.user.first_name}}</h1>
    
    <div>
        <ul>
            <a href="{{ user.get_absolute_url }}" class="btn btn-outline-dark">View Your Profile
            </a>
            <a href="{% url 'edit' %}" class="btn btn-outline-dark">SETUP/Edit Your Profile</a>
            <a href="{% url 'password_change' %}" class="btn btn-outline-dark">Change Your
                Password</a>
        </ul>
    </div>
    <br>
    <h2 class="display-6"> You have shared {{locations.count | default_if_none:"0"}} spot(s). </h2>

    <!-- Shows the total number of locations added by user.-->
    
  
        {% for location in locations %}
        <p> <a href="{{ location.get_absolute_url }}"  aria-label="Click to view {{ location.title }}"></p>
        <p><img src="{{location.image.url}}" alt="{{ location.image_alt }}" class="img-fluid"></p>
        <p>{{location.title}} | Posted on {{location.posted_date}}</p> </a>
    
        <p>{{location.description | truncatechars:280}}</p>
        <div class="container py-3">
                <a href="{% url 'location_detail' slug=location.slug %}" class="btn btn-outline-dark">View</a>
                <a href="{% url 'edit_location' slug=location.slug %}" class="btn btn-outline-dark">Edit</a>
                <a href="{% url 'delete_location' slug=location.slug %}" class="btn btn-outline-dark">Delete</a>
        </div>

        {% endfor %}
    </div>
{% endblock %}