{% extends "base.html" %}
{% load static %}


{% block content %}

<h1>Welcome to your dashboard, {{ user.first_name }}!</h1>

<p>You have shared {{ user.location_count|default_if_none:"0" }} spots.</p>
<p>Here is a list of all your shared spots:</p>

<p>{{ location.title }}  | {{ location.description }}  |  
    Posted on {{ location.posted_date }}</p>


<ul>
    {% for image in image_list %}
    <li>
        <a href="{% url 'location_detail' image.id %}">View</a>
        <a href="{% url 'edit_location' image.id %}">Edit</a>
        <a href="{% url 'location_confirm_delete' image.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}

