{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

<!-- Contains code that is added to each users profile-->
{% block title %}{{user.get_full_name}}{% endblock %}

{% block content %}

<h1>{{user.get_full_name}}</h1>

<div class="photo-container">
    <img src="{{ user.profile.photo.url }}">
</div>

<!--Link to report a profile-->

<div>
    <br>
    <a href="#" id="report-link" data-toggle="modal" data-target="#report-modal" class="text-right">Report Profile</a>
</div>

<!--Follow button / number of followers-->

    {% with total_followers=user.followers.count %}
    <span class="count">
    <span class="total">{{total_followers}}</span>
    follower{{total_followers|pluralize}}
    </span>

    <a href="#" data-id="{{ user.id }}" data-action=
    "{% if request.user in user.followers.all %}un{% endif %}follow"
    cla="follow button">
    {% if request.user not in user.followers.all %}
    Follow
    {% else %}
        Unfollow
        {% endif %}
    </a>
{% endwith %}


<!-- Report Profile Modal -->
<div class="modal fade" id="report-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Report Profile</h5>
                <button type="button" class="close" data-dismiss="modal" id="close-modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>To report this profile to the Admin team, click here:</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit-report" data-dismiss="modal">Report</button>
            </div>
        </div>
    </div>
</div>

<!-- Add this element for the report success message -->
<p id="report-success-message"></p>



<!-- List of users added locations are included -->


{% endblock %}


<!--report script-->
<script src="{% static 'js/report.js' %}"></script>

<!--Follow button-->
{% block domready %}
const url = '{% url "user_follow" %}'
var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
}

document.querySelector('a.follow')
.addEventListener('click', function(e){
    e.preventDefault()
    var followButton=this

    // add request body
    var formData=new FormData()
    formData.append('id', followButton.dataset.id)
    formData.append('action', followButton.dataset.action)
    options['body']=formData

    // send HTTP request
    fetch(url, options)
    .then(response=> response.json())
    .then(data=> {
         if (data['status'] ==='ok')
         {
            var previousAction=followButton.dataset.action

            // toggle button text and data-action
            var action=previousAction==='follow'?'unfollow': 'follow'
            followButton.dataset.action=action
            followButton.innerHTML=action

            // update follower count
            var followerCount=document.querySelector('span.count .total')
            var totalFollowers=parseInt(followerCount.innerHTML)
            followerCount.innerHTML=previousAction==='follow'?totalFollowers+1:
            totalFollowers-1
            }
    })
})
{% endblock %}
