{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<div class="container my-5">

    <h1>{{ user.get_full_name }}</h1>

        <!-- Message for logged in user to delete account -->
        {% if request.user.is_authenticated and request.user == user %}
        <div class="alert alert-dark" role="alert">
            If you want to delete your profile/account please contact Admin admin@ourspot.com
        </div>
        {% endif %}

    <!-- Profile Photo -->
    <div class="rounded d-block">
        {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="{{ user.profile.photo_alt }}" class="img-fluid rounded d-block" style="width: 200px; height: 200px; object-fit: cover;">
        {% else %}
            <img src="{% static 'images/blankavatar.png' %}" alt="Default Avatar" class="img-fluid rounded d-block" style="width: 200px; height: 200px; object-fit: cover;">
        {% endif %}
    </div>

    <!-- Link to report a profile -->
    <div class="d-flex">
        <a href="#" id="report-link" data-toggle="modal" data-target="#report-modal" class="text-right">Report Profile</a>
    </div>
    <br>
    <h3> I have shared {{ locations.count | default_if_none:"0" }} spot(s) </h3>
    <br>
    <!-- Images of members -->
    <div class="row">
        {% for location in locations %}
        <div class="col-md-6 mb-4"> 
            <div class="card h-100"> 
                <a href="{{ location.get_absolute_url }}" aria-label="Click to view {{ location.title }}">
                    <img src="{{ location.image.url }}" alt="{{ location.image_alt }}" class="card-img-top img-fluid">
                    <h3 class="card-title">{{ location.title }}</h3>
                    <p>Posted on {{ location.posted_date }}</p>
                </a>
                <p>{{ location.description | truncatechars:280 }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

        <!-- Report Profile Modal -->
        <div class="modal fade" id="report-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Report Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" id="close-modal">
                        <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>To report this profile to the Admin team, click here:</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="submit-report" data-dismiss="modal">Report</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- the report success message -->
        <p id="report-success-message"></p>
    </div>


{% endblock %}


