{% extends "base.html" %}
{% load static %}

{% load thumbnail %}

{% block title %}Members{% endblock %}

<!-- Contains code that shows a list of members/users -->

{% block content %}
<div class="container my-5">
    <h1>Members</h1>
    {% for user in users %}
    <p>
        <div>
            <a href="{{ user.get_absolute_url }}" class="text-center">{{ user.get_full_name }}
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" class="rounded d-block" alt="{{ user.profile.photo_alt }}">
                {% else %}
                    <img src="{% static 'images/blankavatar.png' %}" class="rounded d-block" alt="Default Avatar" style="width: 250px; height: 300px; object-fit: cover;">
                {% endif %}
            </a>
        </div>
    </p>
{% endfor %}
</div>
    {% endblock %}
