{% extends "base.html" %} 
{% load static %} 

{% block title %}Reset your password{% endblock title %} 
<!-- Page users see after requesting password reset -->

{% block content %}
<div class="container my-5">
  <h1>Reset Your Password</h1>
  <p>We have sent you an email with instructions for setting your password.</p>
  If you don't receive an email, please make sure you've entered the email
    address you registered with when you first joined. If you can't remember
    your email address contact us for support at:<h4>support@ourspot.com</h4>
  {% endblock content %}
</div>