Someone has asked to reset the password for email {{ email }}. 

To reset your password, please click the link below:

{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{ domain }} and request another reset.

If you did not make this request, you can safely ignore this email.

In case you've forgotten, your username is: {{ user.get_username }}

OurSpot Team