{% load static %}

<!-- Footer -->
<!-- Sticky Footer code from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer  -->

<footer class="text-center bg-light">
    <small>
      © 2023 Developer <a href="https://dianecorriette.com" target="_blank" rel="nofollow" id="author" aria-label="GitHub">
      Diane Corriette </a> | Portfolio Project Four
        <!-- Linkedin -->
        <a class="btn btn-floating m-1" href="https://www.linkedin.com/in/todianedev/" target="_blank"
            rel="nofollow" role="button" aria-label="Linkedin"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-floating" href="https://github.com/todiane" target="_blank" rel="nofollow"
            role="button" aria-label="GitHub Link"><i class="fab fa-github"></i></a>
    </small>
</footer>