{% load static %}

<footer class="py-4 bg-white shadow-inner mt-8">
    <div class="container mx-auto text-center text-gray-600 text-sm">
        <span>
            © 2023 Developer 
            <a href="https://djangify.com" target="_blank" rel="nofollow" id="author" aria-label="GitHub" class="text-blue-600 hover:underline">
                Diane Corriette
            </a> |
            <!-- Website -->
            <a class="inline-block p-1 hover:text-blue-600" href="https://todiane.dev" target="_blank" 
                role="button" aria-label="Website Link">
                <i class="fa-solid fa-globe"></i>
            </a>
            <!-- Linkedin -->
            <a class="inline-block p-1 hover:text-blue-600" href="https://www.linkedin.com/in/todianedev/" target="_blank"
                rel="nofollow" role="button" aria-label="Linkedin">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <!-- Github -->
            <a class="inline-block p-1 hover:text-blue-600" href="https://github.com/djangify" target="_blank" rel="nofollow"
                role="button" aria-label="GitHub Link">
                <i class="fab fa-github"></i>
            </a>
        </span>
    </div>
</footer>
