{% extends "base.html" %}
{% load static %}

<header id="header">
    <div class="container py-3">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="{% url 'home' %}" class="logo">Our Spot</a>

            <!-- Navigation bar -->
                    {% if request.user.is_authenticated %}
            <!-- Add the toggler button for small screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="list-inline-item {% if section == 'dashboard' %}selected{% endif %}">
                        <a href="{% url 'dashboard' %}">My dashboard</a>
                    </li>
                    <li class="list-inline-item {% if section == 'locations' %}selected{% endif %}">
                        <a href="{% url 'locations' %}">New Spots</a>
                    </li>
                    <li class="list-inline-item {% if section == 'add_location' %}selected{% endif %}">
                        <a href="{% url 'add_location' %}">Add A Spot</a>
                    </li>
                    <li class="list-inline-item {% if section == 'people' %}selected{% endif %}">
                        <a href="{% url 'user_list' %}">People</a>
                    </li>
                </ul>
                    {% endif%}

                <span class="user">
                    {% if request.user.is_authenticated %}
                    Hello {{ request.user.first_name|default:request.user.username }},
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}">Log-in</a>
                    {% endif %}
                </span>
            </div>
        </nav>
    </div>

    <!-- Messages shown to users -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    
</header>