{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block content %}
<h1 class="text-center p-2 d-block">
    Latest Locations
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% for locations in location %}
    <a href="{% url 'location_detail' location.id %}" class="location" aria-label="Click to view {{locations.title}}">
        <div class="card m-3" style="width: 18rem;">
            <img src="{{locations.image.url}}" class="card-img-top" alt="{{locations.image_alt}}">
            <div class="card-body">
                <h2 class="card-title">{{locations.title}}</h2>
                <p class="card-text">{{locations.description|truncatechars:100}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}