{% extends "base.html" %}
{% load static %}

<!-- Dashboard area - users taken here after log in-->
{% block content %}
<div class="container my-5">
    
    <h1>Welcome to your dashboard {{ request.user.first_name }}</h1>
    <br>
    <div class="text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="{{ user.get_absolute_url }}" class="btn btn-outline-secondary">View Profile</a>
          </li>
          <li class="list-inline-item">
            <a href="{% url 'edit' %}" class="btn btn-outline-secondary">SETUP/Edit Profile</a>
          </li>
          <li class="list-inline-item">
            <a href="{% url 'password_change' %}" class="btn btn-outline-secondary">Change Password</a>
          </li>
        </ul>
    </div>
    
    <h2 class="display-6">You have shared {{ locations.count | default_if_none:"0" }} spot(s)</h2>
    <br>
    <!-- Shows the total number of locations added by user.-->
    <div class="row">
        {% for location in locations %}
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{{ location.get_absolute_url }}" aria-label="Click to view {{ location.title }}">
                        <img src="{{ location.image.url }}" alt="{{ location.image_alt }}" class="card-img-top img-fluid">
                    </a>
                    
                    <div class="card-body">
                        <h3 class="card-title">{{ location.title }}</h3>
                        <p class="card-text">Posted on {{ location.posted_date }}</p>
                        <p class="card-text">{{ location.description | truncatechars:280 }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'location_detail' slug=location.slug %}" class="btn btn-outline-success">View</a>
                        <a href="{% url 'edit_location' slug=location.slug %}" class="btn btn-outline-dark">Edit</a>
                        <a href="{% url 'delete_location' slug=location.slug %}" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No locations found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
