{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Photo Sharing Platform and Social Network">
    <meta name="keywords" content="photo sharing, fun locations, things to do, family holidays, wedding venue">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.webp' %}">
    <link rel="icon" type="image/png" sizes="192x192"
    href="{% static 'images/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512"
    href="{% static 'images/android-chrome-512x512.png' %}">
    <link rel="apple-touch-icon"
    sizes="180x180"
    href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static 'images/favicon-16x16.png' %}">

    {% block extra_css %}
    <!-- Include your compiled Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Additional CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <title>Our Spot Social Network - {% block title %} {% endblock %}</title>
</head>
<body class="flex flex-col min-h-screen bg-gray-50">
    
    <!-- Include the navigation bar -->
    {% include 'includes/header.html' %}
    
    <main class="flex-grow">
        {% block content %}
        {% endblock %}
    </main>

    {% block onload_js %}
    <!-- Any additional JS can go here -->
    {% endblock %}

</body>
</html>