{% extends 'base.html' %} 
{% load static %} 
{% block title %}Discover and Share Your Favorite Places{% endblock title %} 

{% block content %}
<!-- Home Pages background image-->
<div class="bg-cover bg-no-repeat bg-center h-[90vh] w-full relative" 
     style="background-image: url('{% static 'images/bg-hero.webp' %}');">
  <div class="flex h-full">
    <!-- Positioning the text block to the left side -->
    <div class="w-full md:w-1/2 lg:w-2/5 flex items-center justify-center md:justify-start pl-4 md:pl-12 lg:pl-16">
      <!-- Content container with semi-transparent background -->
      <div class="bg-white bg-opacity-70 p-6 md:p-8 rounded-lg shadow-lg mx-4 text-center md:text-left">
        <h2 class="text-2xl md:text-3xl font-bold mb-2">Show Your Spot</h2>
        <h3 class="text-xl md:text-2xl mb-4">Every Spot Tells A Story</h3>
        
        <p class="mb-6">Discover hidden gems and share your favorite places with the world. Whether it's a tranquil nature retreat, a cozy café, or a breathtaking viewpoint - every spot tells a story. Share yours today. Got a location you love to be at with family, a loved one or friend? Share your photos here. Find places worth visiting. Register below to get started.</p>
        
        <!-- Buttons side by side on larger screens, stacked on mobile -->
        <div class="flex flex-col sm:flex-row sm:justify-start space-y-4 sm:space-y-0 sm:space-x-4">
          <a href="{% url 'account:register' %}" class="inline-block py-2 px-6 bg-transparent border border-gray-900 text-gray-600 hover:bg-green-900 hover:text-white rounded-md font-medium transition-colors">
            Register Here
          </a>
          <a href="{% url 'account:login' %}" class="inline-block py-2 px-6 bg-gray-600 text-white hover:bg-gray-900 rounded-md font-medium transition-colors">
            Log-In Here
          </a>
        </div>
      </div>
    </div>
    <!-- Empty div to allow space for the background image to show the people -->
    <div class="hidden md:block md:w-1/2 lg:w-3/5"></div>
  </div>
</div>
{% include 'includes/footer.html' %}
{% endblock content %}