<!-- File: core/templates/core/components/search_form.html -->
{% load static %}

<form class="mt-4 md:mt-0 md:ml-6" method="GET" action="{% url 'core:search' %}">
    <div class="flex flex-col md:flex-row">
        <div class="flex">
            <input class="px-4 py-2 w-full border border-gray-300 rounded-l focus:outline-none focus:ring-2 focus:ring-blue-500" 
                   name="q" type="search" placeholder="Search..." aria-label="Search" 
                   value="{{ request.GET.q|default:'' }}">
            
            <button class="px-4 py-2 bg-blue-600 text-white rounded-r hover:bg-blue-700 transition" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </div>
</form>